@mixin form-control-sizing($font-size) {
    font-size: $font-size;
    line-height: calc(#{$font-size} * 1.25);
    padding: calc(#{$font-size} * 0.5) calc(#{$font-size} * 0.75);
}

:host {
    &.form-control {
        @include form-control-sizing(1rem);

        color: #24292e;
        vertical-align: middle;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: right 0.5rem center;
        border: 0.0625rem solid #d1d5da;
        border-radius: 0.375rem;
        box-shadow: inset 0 0.0625rem 0 rgba(27, 31, 35, 0.05);
        transition: border-color 0.2s;

        &:focus {
            border-color: #0366d6;
            outline: none;
        }

        &[disabled] {
            background-color: #f6f8fa;
            color: #6a737d;
            cursor: not-allowed;
        }
    }

    &.form-control-small {
        @include form-control-sizing(0.8rem);
    }

    &.form-control-large {
        @include form-control-sizing(1.2rem);
    }

    &.form-control-monospace {
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    }
}
