@mixin form-control-sizing($font-size) {
    font-size: $font-size;
    line-height: calc(#{$font-size} * 1.4);
    padding: calc(#{$font-size} * 0.5) calc(#{$font-size} * 0.75);
}

:host {
    &.form-control {
        @include form-control-sizing(1rem);
    }

    &.form-control-small {
        @include form-control-sizing(0.8rem);
    }

    &.form-control-large {
        @include form-control-sizing(1.2rem);
    }

    &.form-control-monospace {
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    }

    &:disabled,
    &[disabled] {
        background-color: var(--color-gray-200);
        color: var(--color-gray-600);
        cursor: not-allowed;
    }
}
