@use 'tailwindcss/theme';

html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    height: 100%;
    background-image: linear-gradient(to right, theme('--color-gray-50') 4%, theme('--color-gray-200'));
    color: theme('--color-gray-800');
}

app-root {
    height: 100%;
    display: block;
}
