/* You can add global styles to this file, and also import other style files */

html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    height: 100%;
    background-image: linear-gradient(to right, #f4f4f4 4%, #dfdedc 99%);
}

app-root {
    height: 100%;
    display: block;
}
