services:
    app:
        container_name: web-system-samples

        build:
            context: ./app
            dockerfile: Dockerfile

        volumes:
            - ../:/workspace:cached
            - /var/run/docker.sock:/var/run/docker.sock

        env_file: ./app/.env

        command: sleep infinity

        depends_on:
            - db

        ports:
            - '56080:8080' # Backend

    db:
        container_name: web-system-samples-db

        build:
            context: ./db
            dockerfile: Dockerfile

        command: postgres -c log_destination=stderr -c log_statement=all -c log_connections=on -c log_disconnections=on

        restart: unless-stopped

        volumes:
            - postgres-data:/var/lib/postgresql

        env_file: ./db/.env

        ports:
            - '56010:5432' # Postgres

volumes:
    postgres-data:
